
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Your custom styles can go here */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.lora{
  font-family: Lora, sans-serif;
}
.karla{
  font-family: Karla, sans-serif;
}
body {
  font-family:'Karla';
}

.karla{
font-family: 'Karla';
}


.sens{
  font-family: sans-serif;
}

.lor{
  font-family: 'Lora';
}