.textcenter {
  text-align: center;
  margin-bottom: 30px;

  h1 {
    font-size: 36px;
  }

  p {
    color: rgba(73, 73, 73, 0.5);
    font-size: 16px;
  }
}

.menuitems {
  text-align: center;
  width: 150px;
  margin-top: 25px;

  ul {
    border-radius: 8px;
  }

  li {
    border-style: dashed;
    border-bottom-width: 1px;
    border-color: #002a3e;
    padding: 10px;

    &:hover {
      color: white;
      background-color: #0b2c3d;
    }
  }

  li:last-child {
    border: none;
    border-radius: 0 0 10px 10px;
  }

  li:first-child {
    border-radius: 10px 10px 0 0;
  }
}

.menu {
  font-size: 13px;
  background-color: white;

  li {
    padding: 10px;
    &:hover {
      color: white;
      background-color: #01614e;
    }
  }
}

.section {
  text-align: center;
  color: white;
}

.image-container {
  position: relative;
  min-width: 100%;
  justify-content: center;

  img {
    width: 100%;
    height: 800px;
    object-fit: cover;
  }
  @media (min-width: 1024px) {
    display: flex;
  }
  @media (max-width: 1024px) {
    img {
      height: 500px;
    }
  }

  @media (max-width: 650px) {
    img {
      height: 300px;
    }
  }
}

.responsive-image {
  max-width: 100%;
  height: auto;
  opacity: 0.5;
  img {
    min-width: 100%;
    height: 55vw;
  }
}

.text-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  min-width: 300px;

  h1 {
    font-size: 70px;
  }

  @media (max-width: 650px) {
    top: 10%;
    h1 {
      font-size: 50px;
    }
  }

  @media (max-width: 1100px) and (min-width: 1024px) {
    h1 {
      font-size: 40px;
    }
  }
  .ptag {
    font-size: 18px;
  }
}

.searchcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: absolute;
  top: 50%;

  @media (max-width: 1024px) {
    position: relative;
    left: 0;
    top: 0;
    background: white;
    padding: 5vw;
  }

  @media (min-width: 1024px) {
    opacity: 0.9;
  }
}

.home5{
  position: relative;
}

.whiteContainer{
  background-color: transparent;
}

.filterContainer {
  display: flex;
  background-color: #e7efff;
  padding: 20px;
  border-radius: 15px 15px 0px 0px;
  color: #002a3e;
  width: 400px;
  justify-content: space-around;
  border: 1px solid white;
  @media (max-width: 600px) {
    width: 300px;
  }

  @media (max-width: 600px) {
    padding: 20px 11px 20px 10px;
    font-size: 14px;
    width: 220px;
  }
}

.filterItem {
  display: flex;
  flex-direction: column;
  border-radius: 0px 15px 15px 15px;
  color: #002a3e;

  @media (min-width: 1150px) {
    padding-right: 30px;
  }
  @media (min-width: 1024px) {
    margin-top: 25px;
  }
}

.allFilter {
  width: 100%;
  background: #e7efff;
  border-radius: 0 15px 15px 15px;
  border: 1px solid #E8F1FF;
  padding: 15px 10px 35px 10px;
  @media (max-width: 1070px) {
    padding: 20px 0px 20 0px;
  }
  @media (max-width: 1024px) {
    padding: 30px;
  }

  @media (max-width: 750px) {
    padding: 20px 2px 20px 10px;
  }
}

.propertySize{
  min-width: 290px !important ; 
}

.filterIcon {
  display: flex;
  width: 100%;
  button {
    background: azure;
    border: 1px solid #E8F1FF;
    padding: 6px;
    color: #002a3e;
    border-radius: 10px 0px 0px 10px;
    svg {
      width: 35px;
      height: 35px;
    }
  }

  @media (max-width: 760px) and (min-width: 650px) {
    width: auto;
  }
}

.filterschild {
  display: flex;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}
.button {
  button {
    padding: 15px 30px 15px 30px;
    background: #fff6f0;
    color: #b79956;
    border-radius: 8px;
    width: 250px;

    &:hover{
      background: #002a3e;
      color: white;
    }
  }
}

.location {
  display: flex;
  gap: 12px;
  flex: 1;
  padding-left: 20px;
  text-align: start;
  min-width: 230px;
  max-width: 330px;

  input {
    width: 150px;
    border: none;
    outline: none;
    background: #e7efff;
  }

  @media (max-width: 1100px) {
    min-width: 200px;
    padding: 10px;
  }

  p {
    color: #494949;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  h3 {
    font-size: 23px;
  }

  @media (min-width: 1024px) {
    border-right: 1px solid #bccbe2;
  }

  @media (max-width: 1024px) {
    min-width: 270px;
    width: 50%;
  }
  @media (max-width: 650px) {
    margin-bottom: 45px;
  }

  @media (max-width: 1300px) {
    h3 {
      font-size: 17px;
    }
    margin-left: 0px;
  }
}

.locationPrnt {
  display: flex;
  flex: 1;
  align-items: center;
  @media (max-width: 650px) {
    flex-direction: column;
    align-items: start;
    padding-left: 5%;
  }

  @media (max-width: 1024px) and (min-width: 650px) {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

.search {
  background-color: #b79956;
  padding: 20px;
  border-radius: 8px;

  svg {
    margin-top: 0px;
  }
}

.appartments {
  display: flex;
  align-items: center;
  svg {
    margin-top: 0px;
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.content {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  @media (max-width:992px){
    flex-direction: column;
  }
  @media (max-width: 830px) {
    flex-wrap: wrap;
  }
}

.whyus {
  margin-top: 5vw;
  display: flex;
  gap: 2vw;
  h3{
    font-size: 28px;
  }
}

.content2 {
  margin-bottom: 70px;
  p{
    color: #b79956;
  }
  h1{
    font-size: 36px;
  }
  img {
    margin-top: 70px;
  }
}


.home2Search{
  opacity: 1;
  top: 100%;
  align-items: start;
}

.filterContainer{
  margin-left: 52px;

  p{
    cursor: pointer;
  }
}

