.container {
    width: 34%;
  }
  .main {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .p1 {
      color: #B39359;
    }
    h2 {
      line-height: 1.3;
      font-size: 36px;
      color: #0B2C3C;
      font-weight: 500;
    }
    p {
      margin-top: 15px;
      font-size: 18px;
      line-height: 26px;
    }
  }
  .imgdiv {
    display: flex;
    gap: 10px;
    img {
      border-radius: 8px;
    }
  }
  .btnnext{
    background-color:#0B2C3D;
    color:white;
    border-radius:20px;
    width:30px;
    height:30px;
    margin-right: 10px;
    &:hover{
      background-color: #B39359;
    }
  }